body {
    font-family: 'Nunito Sans', sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    border-bottom: 1px solid #DEDEDE;
}    
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-logo {
    display: block;
    background-image: url(../image/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item {
    position: relative;
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px; 
}
.bg {
    text-align: center;
    color: #FFFFFF;
    background-image: url(../image/bg.jpg);
    align-items: center;
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs {
        padding-left: 0;
        margin-top: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', san s-serif;
    text-decoration: none;    
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -2px;
    pointer-events: none;
}
.breadcrumbs a::before {
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 18px;       
}
.description {
    font-family: 'Open Sans', san s-serif;
    font-size: 15px;  
    line-height: 1.7;  
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box {
    color: #FFFFFF;
    background-image: url(../image/banner.jpg);    
    background-size: cover;
    padding: 96px 100px 100px;  
    background-position: center center;  
    margin-bottom: 68px;
}
.banner-title span {
    display: block;
    font-family: 'Open Sans', san s-serif;
    font-weight: 600;
    font-size: 14px; 
    text-transform: uppercase;
    background-color: #F37335; 
    padding-top: 9px;
    padding-bottom: 5px;
    width: 95px;
    text-align: center;   
    border-radius: 14px; 
    margin-bottom: 10px;
    margin-top: 0px;
}
.banner-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 12px;
    margin-top: 0px;
}
.banner-text {
    font-family: 'Open Sans', san s-serif;
    width: 313px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #FAF9F9;  
    margin-top: 0px;
    margin-bottom: 17px;  
}
.banner-link {
    font-family: 'Nunito Sans', sans-serif;
    color: #1E2F40;
    text-decoration: none;
    text-transform: uppercase;    
    background-color: #FBB731;
    text-align: center;
    padding: 18px 25px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #000000;
    border-radius: 5px;    
}
 .menu-header {
     margin-top: 10;
     margin-top: 50px;
     display: flex;
     align-items: center;
     justify-content: space-between;
    }
.menu-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: #1B2A49;  
}
.menu-select {
    border: 1px solid #DEDEDE;
    padding: 10px 30px;    
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image:url(..//image/arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 90% center;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    margin-bottom: 65px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #1B2A49;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 7px;
}
.menu-grid-price {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    color: #979797;   
    margin-top: 11px;
}
.menu-grid-btn {
    max-width: 152px;
    max-height: 38px;
    background: #FBB731;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px 35px 10px 29px;      
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: none;
    position: relative;
    left: 114px;
    top: 1px;
    margin-bottom: 0px;
}
.menu-grid-ikon {
    background-image:url(../image/menu/cart-menu.svg);   
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    display: inline-block;
    justify-content: center;
}
.menu-grid-text {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    justify-content: center;    
}
footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;
}

.logo {
    width: 63px;
    height: 56px;
}
.item {
    flex: 0 0 auto;
}
.item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.item ul,
.tel ul {
    list-style-type: none;
}
.item li {
    margin-bottom: 9px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.item a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.tel ul {
    font-size: 20px;
    color: #FBB731;
}
.tel li {
    margin-bottom: 12px;
}    